node_modules
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode
coverage
node_modules
dist
dist-ssr
*.local
.idea
.vite-ssg-temp
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?