@use "@/scss/colors" as *;
@use "@/scss/variables" as *;

.contents {
  background-color: rgb($surface);
  border-radius: 28px;
  padding: 1.5rem;
  min-width: 280px;
  max-width: 560px;
  overflow: hidden;
}

.title {
  margin-bottom: 1rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.fullscreenContents {
  background-color: rgb($surface);
  color: rgb($on-surface);
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  height: 3.5rem;
  &___title {
    text-align: left;
    margin-right: 1rem;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &___close {
    cursor: pointer;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    border-radius: 100%;
    transition: background-color $transition;

    &:hover,
    &:focus,
    &:active {
      color: rgb($primary);
      background-color: rgba($primary, 0.12);
    }
  }
}
