@use "@/scss/colors" as *;
@use "@/scss/variables" as *;

.content {
  background-color: rgb($surface);
  border-radius: 28px;
  max-width: 560px;
  min-width: 280px;
  overflow: hidden;
  padding: 1.5rem;
}

.fullscreenContent {
  background-color: rgb($surface);
  color: rgb($on-surface);
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}


.title {
  margin-bottom: 1rem;
}

.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}


.header {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  &___title {
    flex-grow: 1;
    margin-right: 1rem;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &___close {
    border-radius: 100%;
    cursor: pointer;
    height: 1.5rem;
    margin-right: 1rem;
    min-width: 1.5rem;
    transition: background-color $transition;
    width: 1.5rem;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($primary, 0.12);
      color: rgb($primary);
    }
  }
}
