.vmu-scrim-enter-active {
  animation: vmu-scrim 0.5s;
}
.vmu-scrim-leave-active {
  animation: vmu-scrim 0.5s reverse;
}

@keyframes vmu-scrim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vmu-dialog-content-enter-active {
  animation: vmu-dialog-content-slide-down 0.5s;
}
.vmu-dialog-content-leave-active {
  animation: vmu-dialog-content-slide-down 0.5s reverse;
}

@keyframes vmu-dialog-content-slide-down {
  0% {
    transform: translate3d(0, -10rem, 0);
    max-height: 0;
  }
  100% {
    max-height: var(--vmu-max-height);
    transform: translate3d(0, 0, 0);
  }
}

.vmu-fullscreen-dialog-content-enter-active {
  animation: vmu-fullscreen-dialog-content-slide-down 0.5s reverse;
}
.vmu-fullscreen-dialog-content-leave-active {
  animation: vmu-fullscreen-dialog-content-slide-down 0.5s;
}

@keyframes vmu-fullscreen-dialog-content-slide-down {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
