$elevation-color-1: rgba(0, 0, 0, 0.3);
$elevation-color-2: rgba(0, 0, 0, 0.15);

$e1: 0px 1px 2px $elevation-color-1, 0px 1px 3px 1px $elevation-color-2;
$e2: 0px 1px 2px $elevation-color-1, 0px 2px 6px 2px $elevation-color-2;
$e3: 0px 1px 3px $elevation-color-1, 0px 4px 8px 3px $elevation-color-2;
$e4: 0px 2px 3px $elevation-color-1, 0px 6px 10px 4px $elevation-color-2;
$e5: 0px 4px 4px $elevation-color-1, 0px 8px 12px 6px $elevation-color-2;
