.vmu-ripple {
  position: relative;
  overflow: hidden;
  --ripple-pos-x: 0px;
  --ripple-pos-y: 0px;
  --ripple-width: 40px;
  --ripple-height: 40px;
  --ripple-opacity: 0.24;
  --ripple-scale: 1;
  --transition-property: transform;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: var(--ripple-width);
    height: var(--ripple-height);
    top: calc(var(--ripple-pos-y) - 20px);
    left: calc(var(--ripple-pos-x) - 20px);
    border-radius: 50%;
    background-color: var(--color);
    opacity: var(--ripple-opacity);
    transform: scale(var(--ripple-scale), var(--ripple-scale));
    transition-property: var(--transition-property);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }
}
