@use "colors" as *;

.md-text-body-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.md-text-body-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.md-text-body-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.md-text-label-small {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.md-text-label-medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.md-text-label-large {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.md-text-title-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.md-text-title-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.md-text-title-large {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.md-text-headline-small {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.md-text-headline-medium {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.md-text-headline-large {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.md-text-display-small {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.md-text-display-medium {
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
}

.md-text-display-large {
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
}

.md-text-on-background {
  color: rgb($on-background);
}
