@use "@/scss/colors" as *;
@use "@/scss/variables" as *;
@use "@/scss/elevation";

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  white-space: nowrap;
  gap: 8px;
  border-radius: 100px;
  transition: box-shadow $transition;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  user-select: none;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    transition: background-color $transition;
    opacity: 0;
    background-color: transparent;
    border-radius: 100px;
  }
  &:hover,
  &:active {
    &::before {
      opacity: 0.08;
    }
  }
  &:focus,
  &:active {
    &::before {
      opacity: 0.12;
    }
  }
  &:disabled {
    pointer-events: none;
    &::before {
      opacity: 0;
    }
  }
  &_small {
    padding: 5.5px 16px;
    height: 30px;
  }
  &_small_icon {
    padding: 5.5px 16px;
    height: 30px;
  }

  &_medium {
    padding: 7.5px 20px;
    height: 35px;
  }
  &_medium_icon {
    padding: 7.5px 20px 7.5px 16px;
    height: 35px;
  }

  &_large {
    padding: 10.5px 24px;
  }
  &_large_icon {
    padding: 10.5px 24px 10.5px 16px;
  }
}

.filled {
  --background-color: rgb(#{$primary});
  --color: rgb(#{$on-primary});
  background-color: rgb($primary);
  color: rgb($on-primary);
  &:hover,
  &:focus,
  &:active {
    &::before {
      background-color: rgb($on-primary);
    }
  }
  &:hover {
    box-shadow: elevation.$e1;
  }
  &:disabled {
    box-shadow: none;
    background-color: rgba($on-surface, 0.12);
    color: rgba($on-surface, 0.38);
  }
}

.outlined {
  --background-color: rgb(#{$surface});
  --color: rgb(#{$primary});
  background-color: rgb($surface);
  color: rgb($primary);
  box-shadow: 0 0 0 1px rgb($outline);
  &:focus {
    box-shadow: 0 0 0 1px rgb($primary);
  }
  &:hover,
  &:focus,
  &:active {
    &::before {
      background-color: rgb($primary);
    }
  }
  &:disabled {
    box-shadow: 0 0 0 1px rgba($disabled, 0.12);
    color: rgba($on-surface-variant, 0.38);
  }
}

.text {
  --color: rgb(#{$primary});
  color: rgb($primary);
  &:hover,
  &:focus,
  &:active {
    &::before {
      background-color: rgb($primary);
    }
  }
  &:disabled {
    color: rgba($on-surface-variant, 0.38);
  }
}

.elevated {
  --background-color: rgb(#{$surface});
  --color: rgb(#{$primary});
  box-shadow: elevation.$e1;
  background-color: rgba($surface);
  color: rgb($primary);
  &:disabled {
    box-shadow: none;
    background-color: rgba($disabled, 0.12);
    color: rgba($on-surface-variant, 0.38);
  }
  &::before {
    opacity: 0.05;
    background-color: rgb($primary);
  }
  &:hover {
    &::before {
      opacity: 0.08;
    }
  }
  &:focus,
  &:active {
    &::before {
      opacity: 0.17;
    }
  }
}

.tonal {
  --background-color: rgb(#{$secondary-container});
  --color: rgb(#{$on-secondary-container});
  background-color: rgba($secondary-container);
  color: rgb($on-secondary-container);
  &:disabled {
    box-shadow: none;
    background-color: rgba($disabled, 0.12);
    color: rgba($on-surface-variant, 0.38);
  }
  &::before {
    opacity: 0;
    background-color: rgb($on-secondary-container);
  }
  &:hover {
    box-shadow: elevation.$e1;
  }
  &:active {
    box-shadow: none;
  }
  &:hover {
    &::before {
      opacity: 0.08;
    }
  }
  &:focus,
  &:active {
    &::before {
      opacity: 0.12;
    }
  }
}
