@use "@/scss/colors" as *;
@use "@/scss/variables" as *;
@use "@/scss/elevation";

.button {
  --vmu-button-color: rgb(var(--vmu-color-primary));
  --vmu-button-on-color: rgb(var(--vmu-color-on-primary));
  align-items: center;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: box-shadow $transition;
  user-select: none;
  white-space: nowrap;
  &::before {
    background-color: transparent;
    border-radius: 100px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color $transition;
  }
  &:hover,
  &:active {
    &::before {
      opacity: 0.08;
    }
  }
  &:focus,
  &:active {
    &::before {
      opacity: 0.12;
    }
  }
  &:disabled {
    pointer-events: none;
    &::before {
      opacity: 0;
    }
  }
  &_small {
    height: 30px;
    padding: 5.5px 16px;
  }
  &_small_icon {
    height: 30px;
    padding: 5.5px 16px;
  }

  &_medium {
    height: 35px;
    padding: 7.5px 20px;
  }
  &_medium_icon {
    height: 35px;
    padding: 7.5px 20px 7.5px 16px;
  }

  &_large {
    padding: 10.5px 24px;
  }
  &_large_icon {
    padding: 10.5px 24px 10.5px 16px;
  }

  &_filled {
    background-color: var(--vmu-button-color);
    color: var(--vmu-button-on-color);
    &:hover,
    &:focus,
    &:active {
      &::before {
        background-color: var(--vmu-button-on-color);
      }
    }
    &:hover {
      box-shadow: elevation.$e1;
    }
    &:disabled {
      background-color: rgba($on-surface, 0.12);
      box-shadow: none;
      color: rgba($on-surface, 0.38);
    }
  }

  &_outlined {
    background-color: rgb($surface);
    box-shadow: 0 0 0 1px rgb($outline);
    color: var(--vmu-button-color);
    &:focus {
      box-shadow: 0 0 0 1px var(--vmu-button-color);
    }
    &:hover,
    &:focus,
    &:active {
      &::before {
        background-color: var(--vmu-button-color);
      }
    }
    &:disabled {
      box-shadow: 0 0 0 1px rgba($disabled, 0.12);
      color: rgba($on-surface-variant, 0.38);
    }
  }

  &_text {
    color: var(--vmu-button-color);
    &:hover,
    &:focus,
    &:active {
      &::before {
        background-color: var(--vmu-button-color);
      }
    }
    &:disabled {
      color: rgba($on-surface-variant, 0.38);
    }
  }

  &_elevated {
    background-color: rgba($surface);
    box-shadow: elevation.$e1;
    color: var(--vmu-button-color);
    &:disabled {
      background-color: rgba($disabled, 0.12);
      box-shadow: none;
      color: rgba($on-surface-variant, 0.38);
    }
    &::before {
      background-color: var(--vmu-button-color);
      opacity: 0.05;
    }
    &:hover {
      &::before {
        opacity: 0.08;
      }
    }
    &:focus,
    &:active {
      &::before {
        opacity: 0.17;
      }
    }
  }

  &_tonal {
    background-color: rgba($secondary-container);
    color: rgb($on-secondary-container);
    &:disabled {
      background-color: rgba($disabled, 0.12);
      box-shadow: none;
      color: rgba($on-surface-variant, 0.38);
    }
    &::before {
      background-color: rgb($on-secondary-container);
      opacity: 0;
    }
    &:hover {
      box-shadow: elevation.$e1;
      &::before {
        opacity: 0.08;
      }
    }
    &:active {
      box-shadow: none;
    }
    &:focus,
    &:active {
      &::before {
        opacity: 0.12;
      }
    }
  }

  &__loader {
    align-items: center;
    color: rgba($on-surface-variant, 1);
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}
